body {
  background-color: #FFF0CC

}

.p1{
    font-size: 35px;
    padding: 55px;
    background: #afd275;
    font-family:"Times New Roman";

}

.p2 {
  padding:30px;
  font-family:"Times New Roman";
}
